* {
    margin: 0px;
    padding: 0px;
} 

body {
    background-color: #202123; 
    background-image: url('assets/Chess_Background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

#chessboard{
    height: 640px;
    width: 640px;
    border: 5px solid gray;
    margin-top: 88px;
    margin-bottom: 70px;
    margin-left: 80px;
    margin-right: 80px;
    position: absolute;
    left: 400px;
    
}

.red {
    background-image: linear-gradient(darkred, red, darkred);
    height: 78px;
    width: 78px;
    border: 1px solid white;
    float: right;
}

.silver {
    background-image: linear-gradient(gainsboro, grey, gainsboro);
    height: 78px;
    width: 78px;
    border: 1px solid white;
    float: right;
}

img {
    height: 60px;
    width: 60x;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -12px;
}


p {
    color: white;
}

h1 {
    color: white;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 680px;
    margin-top: 10px;

    
}

.teamBlack {
    position: absolute;
    color: white;
    margin-top: 60px;
    left: 485px;
    font-size: large;
}

.teamWhite {
    position: absolute;
    color: white;
    margin-top: 742px;
    left: 1040px;
    font-size: large;

}

#reset {
    position: absolute;
    margin-top: 785px;
    padding: 5px;
    left: 760px;
    font-size: large;
    cursor: pointer;
    color: red;
    background-color: whitesmoke;
    border-radius: 8px;
}

#reset:hover {
    background-color: red;
    color: whitesmoke;
}



