* {
    margin: 0px;
    padding: 0px;
} 

body {
    background-color: #202123; 
    background-image: url('assets/Chess_Background.jpg');
    background-size: cover;
    
    
    
}

#chessboard{
    height: 640px;
    width: 640px;
    border: 5px solid gray;
    margin: 125px;
    position: absolute;
    left: 375px;
    
}

.red {
    background-image: linear-gradient(darkred, red, darkred);
    height: 78px;
    width: 78px;
    border: 1px solid white;
    float: right;
}

.silver {
    background-image: linear-gradient(gainsboro, grey, gainsboro);
    height: 78px;
    width: 78px;
    border: 1px solid white;
    float: right;
}

img {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

h1 {
    color: white;

}





