* {
    margin: 0px;
    padding: 0px;
} 

body {
    background-color: #202123;   
}

#chessboard{
    height: 640px;
    width: 640px;
    border: 5px solid red;
    margin: 125px;
    position: absolute;
    left: 375px;
    
}


